
.header {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #fff;
  border-bottom: #ecf3ff 1px solid;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 20px; 
  z-index: 1000;
  font-family: 'Jost', sans-serif;

  .headerContainer {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    max-width: 1200px; 
    padding: 0 20px; 
    gap: 20px;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    .logo {
      width: calc(2vw + 20px); 
      max-width: 55px;
      min-width: 30px; 
      height: auto;
      margin-right: 10px;
    }
    .logoText {
      font-size: clamp(16px, 2vw, 30px);
      font-weight: 700;
      color: var(--black);

    }
  }
  .catalogBtn,
  .storeBtn {
    display: flex;
    align-items: center; 
  }
  .storeBtn {
    margin-left: 3.6458vw;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    img {
      margin-right: 5px;
    }
  }
  .catalogBtn {
    display: inline-block;
    width: 115px;
    height: 40px;
    background-color: var(--orange-main);
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    text-decoration: none;
    min-width: 115px;
    img {
      margin-right: 5px;
    }
  }
  .form {
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    height: 40px;
    width: calc(56.77vw + 20px);
    max-width: 1090px;
    min-width: 450px; 

    .searchPanel {
      border-radius: 5px 0 0 5px;
      height: 100%; 
      padding: 0;
      padding-left: 5px; 
      outline: none;
      border: 1.5px solid var(--orange-main);
      font-size: 16px;
      box-sizing: border-box; 
      width: 100%;
    }

    .searchBtn {
      border-radius: 0 5px 5px 0;
      height: 100%; 
      width: 40px;
      padding: 0; 
      border: none; 
      background-color: var(--orange-main); // Цвет фона для кнопки, если нужно
      color: #fff; 
      cursor: pointer;
    }
  }
}
